
        .flex-container{
            display: flex;
            /* justify-content: space-between; */
            background-color: orange;
            height: 60px;
            align-items: center;
            /* column-gap: 16px; */
            /* justify-content: end; */
            justify-content: space-between;
        }
        .flex-items{
        margin: 5px;
        }
        .items{
            display: flex;
            column-gap: 50px;
        }
        h2{
            text-align: center;
    }
    .hai{
        margin-left: 700px;
    }
    